canvas{
    border: 0;
}

body{
    margin: 0;
    background-color: #222;
    font-family: 'Merriweather';
    color: #eee;
    padding-top: 3vmax;
    text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;
}

img{
    border-radius: 10%;
}

menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000; 
    font-size: 3vmax;
    margin-top: 0%;
    text-align: center;
    z-index: 3;
    padding: 0%;
}

canvas{
    position: fixed;
    z-index: -2;
}


/* unvisited link */
a:link {
    color: #aaa;
    text-decoration: none;
}
  
  /* visited link */
a:visited {
    color: #eee;
    text-decoration: none;
}
  
  /* mouse over link */
a:hover {
    color: #f2a;
    text-decoration: underline;
}
  
  /* selected link */
a:active {
    color: #d08;
    text-decoration: none;
}

overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

name{
    text-align: right;
    margin-top: 50%;
    width: 100%;
    color: #eee;
    z-index: 4;
    font-size: 10vmax;
}

about{
    font-size: large;
    text-align: center;
    width: 100%;
}

difficulty {
    text-align: center;
    width: 100%;
}

#drop_zone {
    border: 5px solid blue;
    width: 200px;
    height: 100px;
}

form{
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.collapsible {
    background-color: #7770;
    color: white;
    cursor: pointer;
    padding: 3px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd22;
}


/* mobile, vertical */
@media only screen and (max-width: 800px) {
    contents{
        display: inline-block;
        padding-top: 1%;
        padding-right: 4%;
        padding-left: 4%;
    }

    embed{
        width: 90%;
        align-content: center;
        
    }
}

/* desktop, horizontal */
@media only screen and (min-width: 900px) {
    flexstuff{
        display: flex;
    }

    contents{
        display: inline-block;
        padding-top: 1%;
        padding-right: 4%;
        padding-left: 4%;
        flex: 50%;
    }

    embed{
        float: right;
        flex: 50%;
    }

    firstquater{
        padding:2%;
        float:left;
        flex:25%;
        text-align:center;
    }
    middlehalf{
        padding:2%;
        flex:70%;
        float:right;
    }

}



.pkfronters--member-list--pronouns,
.pkfronters--member-card--pronouns
{
	word-break: break-word;
}

.pkfronters--member-list--pronouns::before,
.pkfronters--member-card--pronouns::before
{
	content: '\0020(';
}

.pkfronters--member-list--pronouns::after,
.pkfronters--member-card--pronouns::after
{
	content: ')\0020';
}

.pkfronters--member-card-container
{
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
}

.pkfronters--member-card
{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	max-width: 50%;
	color: #eee;
    padding-top: 10%;
}

.pkfronters--member-card--avatar
{
	min-width: 50vh;
	width: 50vh;
	min-height: 50vh;
	height: 50vh;
	margin: 0 0 0.5rem 0;
	border-radius: 4px;
	border: 4px solid transparent;
    
}

.pkfronters--member-card--name
{
	text-align: center;
}



participant {
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
}