

h1{
    font-size: 10vmax;
    color: #11111190;
    margin: 0%;
}

.space{
    height: 100vh;
}

body{
    background-color: #aed;
    font-size: large;
}

p{
    font-size: medium;
    color: #111111;
}

a{
    color: #111111;
}

model-viewer {
    width: 900px;
    height: 600px;
}

hr{
    border-top: 10px dashed #b8f9;
    border-radius: 5px;
}