h1{
    font-size: 18vmin;
    color: #11111190;
    margin: 0%;
    padding-top: 5vmin;
    padding-left: 5vmin;
}

h3, table{
    font-size: 6vmin;
    margin: 0%;
    padding-left: 20vmin;
    padding-right: 20vmin;
}

.space{
    height: 100vh;
}

body{
    background-color: #aed;
    font-size: large;
}

p{
    font-size: medium;
    color: #111111;
}

a{
    color: #111111;
    text-decoration: none;
}

model-viewer {
    display: block;
    margin: auto;
    width: 50%;
    height: 50vh;
}

hr{
    border-top: 10px dashed #1119;
}