h1{
    font-size: 18vh;
    color: #11111190;
    margin: 0%;
    padding-top: 5vh;
    padding-left: 5vh;
}

h3, table{
    font-size: 6vh;
    margin: 0%;
    padding-left: 20vh;
}

.space{
    height: 100vh;
}

body{
    background-color: #aed;
    font-size: large;
}

p{
    font-size: medium;
    color: #111111;
}

a{
    color: #111111;
    text-decoration: none;
}

model-viewer {
    width: 900px;
    height: 600px;
}

hr{
    border-top: 10px dashed #1119;
}